<h2>Редактирование пароля</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row without-margin">
    <div class="col-xs-12 without-padding">
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :email %><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <div>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com",  class: 'form-control' %>
              </div>
              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                <div>Ожидается подтверждение: <%= resource.unconfirmed_email %></div>
              <% end %>
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-envelope vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :new_password %> <i>(оставьте пустым, если не хотите его менять)</i><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "новый пароль", class: 'form-control' %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> символов минимум)</em>
              <% end %><br />
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-lock vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :password_confirmation %><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "подтверждение пароля", class: 'form-control' %>
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-lock vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :current_password %><i> (введите текущий пароль для подтверждения изменений)</i><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "старый пароль", class: 'form-control' %>
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-lock vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-12">
          <div class="actions">
            <%= f.submit t('actions.update'), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row without-margin buffer-top">
  <div class="col-xs-12 without-padding">
    <h3>Удалить аккаунт</h3>
    <div class="actions">
      <p>
        <%= button_to t('actions.delete_profile'),
                      registration_path(resource_name),
                      data: { confirm: t('actions.are_you_sure') },
                      method: :delete,
                      class: "btn btn-primary"
        %>
      </p>
    </div>
    <%= link_to t('actions.back'), :back %>
  </div>
</div>
