<h2>Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="row without-margin">
    <div class="col-xs-12 without-padding">
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :email %><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@example.com",  class: 'form-control' %>
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-envelope vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :password %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> символов минимум)</em>
              <% end %><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <%= f.password_field :password, autocomplete: "new-password", placeholder: "пароль", class: 'form-control' %>
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-lock vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-10">
          <div class="row">
            <div class="col-xs-12">
              <%= f.label :password_confirmation %><br />
            </div>
          </div>
          <div class="row without-margin">
            <div class="col-xs-6 without-padding">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "подтверждение пароля", class: 'form-control' %>
            </div>
            <div class="col-xs-1 without-padding text-center">
              <i class="glyphicon glyphicon-lock vcenter"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="row buffer-both">
        <div class="col-xs-12">
          <div class="actions">
            <%= f.submit t('actions.sign_up'), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="row without-margin buffer-both">
  <div class="col-xs-12 without-padding">
    <%= render "devise/shared/links" %>
  </div>
</div>